@media (max-width: 490px) {
  .sidebar {
    width: 502px !important;
  }
}

.sidebar {
  height: 252px;
  width: 232px;
  display: grid;
  box-shadow: 2px 2px 5px gray;
  padding-left: 20px;
  color: #4a4a4a;
  background-color: white;
}

.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check + span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check + span::before {
  content: '';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #9abbce;
  border-radius: 2px;
  margin-right: 0.5em;
  position: relative;
}

.checkbox {
  background-color: papayawhip;
}
.checkboxWrapper input {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #9abbce;
  outline: none;
  cursor: pointer;
}
input:checked {
  background-image: url(../img/Shape.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;

  border: 2px, solid, #2196f3;
}
.checkboxWrapper input:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkboxWrapper input:disabled + span {
  color: #c0c0c0;
}

.checkboxWrapper input:focus {
  box-shadow: 0 0 20px #9abbce;
}

.check:not(:disabled):not(:checked) + span:hover::before {
  border-color: #4aa6f2;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.check:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.check:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(80, 239, 11, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.check:focus:not(:checked) + span::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.check:disabled + span::before {
  background-color: #e9ecef;
}
